# If you have your own Hopsworks cluster, set is IP address or FQDN here
#HOPSWORKS_HOST=
# If you have multiple Hopsworks projects, set the name of your project here
#HOPSWORKS_PROJECT=

HOPSWORKS_API_KEY=8XfOfjkltNg3jRZu.ZGRIqiV2tDsmiynjZiEytm5xOQGHhxrq3Fv1qwXc08she9kw3YKpbeUGCrGB1MLf
AQICN_API_KEY=4d6dbcf556efb8a7a80086e14e366b17966a3990

# Update these values to the sensor you are interested in
# If you don't change them, it should work so long as you have set the AQICN_API_KEY
AQICN_URL=https://api.waqi.info/feed/@3231
AQICN_COUNTRY=spain
AQICN_CITY=madrid
AQICN_STREET=castellana


# Streaming in Credit Card Example
FELDERA_API_KEY=<Feldera API KEY VALUE>
# Clone feldera from github and store it in this directory
FELDERA_DIR=</home/$USER/feldera>

# LLM Examples
OPENAI_API_KEY=<OPENAI API KEY VALUE>

